@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Luxerie';
  src: url('/fonts/Luxerie.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme{
  --font-lexend :"Lexend", 'sans-serif' ;
}